* {
  box-sizing: border-box;
}

body {
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
}

/* Styling for header statrs here */
.head {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.signUpHeading {
  margin: 30px;
}

.signupWithFacebook {
  margin-bottom: 30px;
  width: 450px;
  height: 45px;
  border-radius: 25px;
  border: none;
  background-color: rgb(58, 88, 151);
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 2px;
}

.signupWithFacebook:hover {
  cursor: pointer;
  font-size: 14px;
  background-color: rgb(107, 130, 177);
}

.link {
  color: rgb(29, 185, 84);
  font-size: 13px;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}

.link:hover {
  color: rgb(87, 240, 141);
}
.main_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Sytling for header part ends here */

/* Styling for main part starts here */

.userSignupForm {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.emailText {
  margin-top: 10px;
}

.input {
  letter-spacing: 0.5px;
  padding: 13px;
  width: 400px;
  border-radius: 5px;
  border: 1px solid rgb(189, 189, 189);
}

span {
  text-align: left;
  font-size: 13px;
}

.date {
  font-size: 14px;
}

/*********** date input styling starts here *****************/

.dateOfBirthTable {
  border-spacing: 5px;
  margin: 0;
  /* margin: 10px; */
}

.dateOfMonthInput {
  height: 40px;
}

.monthSelect {
  height: 40px;
  color: rgb(126, 122, 122);
}

.yearInput {
  height: 40px;
}

.gender {
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.genderTable {
  margin-top: 0;
  /* column-width: 30px; */
}

.e-mailSubscription {
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.6em;
}

.manualSignup {
  margin-bottom: 30px;
  width: 450px;
  height: 45px;
  border-radius: 25px;
  border: none;
  background-color: rgb(29, 185, 84);
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 2px;
}

.manualSignup:hover {
  cursor: pointer;
  font-size: 14px;
  background-color: rgb(82, 204, 124);
}

.link {
  color: rgb(29, 185, 84);
  font-size: 13px;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}

.link:hover {
  color: rgb(87, 240, 141);
}
